// Header Area

.sticky {
  left: 0;
  margin: auto;
  position: fixed !important;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 2px 5px -2px rgb(0 0 0 / 10%);
}

header {
  position: relative;
}

.header-area {
  padding: 0px 75px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgb(0 0 0 /0.1);
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  > ul {
    > li {
      display: inline-block;
      margin-right: 52px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        font-size: 15px;
        color: #666666;
        font-family: "Poppins", sans-serif;
        display: inline-block;
        padding: 48px 0;
        line-height: normal;
        &:hover {
          color: #4272d7;
        }
      }
      .active {
        color: #4272d7;
      }
    }
  }
}

.main-menu .sub-menu {
  position: absolute;
  top: 115px;
  left: 0;
  width: 217px;
  text-align: left;
  margin: 0;
  z-index: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-top: 3px solid #4272d7;
  transition: all 0.35s linear;
  transform: translateY(2rem);
  visibility: hidden;
  opacity: 0;
}

.main-menu ul.sub-menu li a {
  display: block;
  padding: 12px 20px;
  margin: 0;
  line-height: 1.3;
  letter-spacing: normal;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  visibility: inherit;
  color: #fff;
  background: #171a21;
}

.main-menu ul.sub-menu li:hover a {
  background: #4272d7;
  color: #fff !important;
}

.main-menu ul li:hover .sub-menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 55px;
}

.header-icon a {
  position: relative;
  padding-left: 34px;
  margin-left: 29px;
  color: #666666;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 2px;
    background: #cccccc;
    height: 15px;
    width: 1px;
  }
}
