.counter-icon i {
    color: #ffffff;
    font-size: 35px;
  }
  
  .counter-text {
    span {
      font-size: 32px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin-top: 5px;
    }
    p {
      font-size: 15px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      text-align: center;
    }
  }
  