.feature-section {
    margin-top: -145px;
    position: relative;
    z-index: 1;
  }
  
  .single-features-box {
    padding: 55px 50px 55px;
    background-color: #505cfd;
    border-right: 1px solid #6a74fc;
  }
  
  .single-features-box.upper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .single-features-box.upper2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: none;
  }
  
  .features-icon i {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  .features-text {
    h3 {
      font-size: 22px;
      line-height: 30px;
      color: #ffffff;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin: 30px 0 18px;
    }
    p {
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      text-align: center;
    }
  }
  