.service-section {
    padding: 100px 75px;
  }
  
  .single-service-box {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    padding: 70px 24px 50px;
    position: relative;
    z-index: 1;
  }
  
  .single-service-box {
    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 80px;
      height: 80px;
      background: #343434;
      border-radius: 5px;
      transition: 0.5s;
      opacity: 0;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:hover {
      &::before {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
      .service-tittle {
        h2 {
          color: #fff;
        }
        p {
          color: #777777;
        }
      }
      .service-button .theme-button.style-two a {
        color: #fff;
      }
    }
  }
  
  .service-icon {
    color: #505cfd;
    font-size: 48px;
    text-align: center;
  }
  
  .service-tittle {
    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #3f3f3f;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin: 16px 0;
      transition: 0.3s;
    }
    p {
      font-size: 15px;
      line-height: 25px;
      color: #777777;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      text-align: center;
    }
  }
  
  .service-button .theme-button.style-two {
    text-align: center;
    margin-top: 52px;
    a {
      padding: 15px 37px;
      transition: 0.3s;
    }
  }
  